/bin/
./textdecorators/src/BUILD/
/.vs/

.project
.classpath
input.txt
output.txt
misspelled.txt
keyword.txt

./project
./classpath
*/bin/
*/input.txt
*/output.txt
*/misspelled.txt
*/keyword.txt



**/bin/
**/input.txt
**/output.txt
**/misspelled.txt
**/keyword.txt
